version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: easychair-mongo
    restart: unless-stopped
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_DATABASE: easychair
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7-alpine
    container_name: easychair-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

volumes:
  mongo-data:
  redis-data:
